@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
/*--------------------
variables
---------------------*/
:root {
  --main-color:#F3B404;
  --green:#41C485;
  --dark-main:#1D1C1C;
  --dark:#0C1023;
  --dark-light:#191f3a;
  --white:#ffffff;
  --white-light:#c8c8cc;
  --shadow: 0 0 15px rgba(0,0,0,0);
  --cursive-font:'Dancing Script', cursive;
}

/*--------------------
Global setting
---------------------*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
}

html body {
  font-family: 'Poppins', sans-serif;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/*@mixin basicBorder{
    border: 1px solid;
    border-collapse: collapse; 
}*/
table {
  max-width: 700px;
  border-collapse: collapse;
}

th, td {
  /*@include basicBorder;*/
  padding: 10px;
}

h3 {
  color: white;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sec-padding {
  padding: 40px 0;
}

/*------------------------------
-------------HEADER-------------
--------------------------------*/
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 50px 0 100px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

nav ul li {
  margin: 0 5px;
}

nav ul li a {
  padding: 8px 15px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

nav .menu-btn i {
  font-size: 30px;
  cursor: pointer;
  display: none;
}

nav a.active:hover {
  border-bottom: 3px solid #E2293F;
}

nav a.active {
  border-radius: 1px;
}

input[type="checkbox"] {
  display: none;
}

/*************Responsivity of Header**************/
@media screen and (max-width: 1000px) {
  nav {
    padding: 0 40px 0 50px;
    overflow: hidden;
  }
}

@media screen and (max-width: 940px) {
  nav .menu-btn i {
    display: block;
  }
  #click:checked ~ .menu-btn i:before {
    content: "\f00d";
  }
  nav ul {
    position: fixed;
    top: 80px;
    left: -100%;
    background: #191f3a;
    height: 100%;
    width: 100%;
    text-align: center;
    display: block;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  nav ul li {
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    -webkit-transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul {
    left: 0%;
  }
  #click:checked ~ ul li a {
    margin-left: 0px;
  }
}

/*************Responsivity of upper body**************/
@media screen and (max-width: 500px) {
  html {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .main-block-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main-block-container .block-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .block-content .block_1 {
    margin: 30px;
    width: 100%;
  }
  .block-content .block_2 {
    margin: 30px;
    width: 100%;
  }
}

/*------------------------------
-------------BODY-------------
--------------------------------*/
.main-block-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background: linear-gradient(126.59deg, #e4b769 30.55%, #da9a29 91.14%);
  border-radius: 1000px 0 1000px 0;
}

.block_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  width: 50%;
}

.block_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  width: 60%;
}

.block_3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#Avatar-img {
  width: 250px;
}

.card-home {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  /*margin: 2rem auto;
    font-size: 0.9rem;
    font-family: sans-serif;
    border-radius: 30px;
    min-width: 200px;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    padding: 0rem 5rem;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);*/
}

@-webkit-keyframes spin_01 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin_01 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.home-table {
  position: relative;
}

.home-table .circle {
  position: absolute;
  z-index: 1;
  height: 400px;
  width: 400px;
  border: 1px solid rgba(25, 31, 58, 0.2);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.home-table .circle::before {
  content: '';
  position: absolute;
  height: 60px;
  width: 60px;
  background-color: rgba(25, 31, 58, 0.2);
  border-radius: 50%;
  left: 30px;
  top: 30px;
  -webkit-transform-origin: 170px 170px;
          transform-origin: 170px 170px;
  -webkit-animation: spin_01 10s linear infinite;
          animation: spin_01 10s linear infinite;
}

.styled-table td {
  padding: 7px 10px;
}

.styled-table tr {
  border-bottom: 1px solid #dddddd;
  cursor: pointer;
}

.styled-table tbody tr:nth-of-type(even) {
  /*background-color: #f3f3f3;*/
  cursor: pointer;
}

.styled-table tbody tr:last-of-type {
  /* border-bottom: 2px solid #009879;*/
  cursor: pointer;
}

/*------------------
        about us
-------------------*/
section title .section-title {
  width: 100%;
  padding: 0 15px;
  text-align: center;
  margin: 30px;
  color: var(--white-light);
  background-color: var(--dark);
}

.section-title h2 {
  font-size: 30px;
  text-transform: capitalize;
}

.section-title h2::before {
  content: attr(data-title);
  display: block;
  font-size: 20px;
  color: var(--main-color);
  font-family: var(--cursive-font);
  font-weight: 400;
}

/*.about-section
{
  background-color: var(--dark);
}
.about-text,
.about-img{
    width: 50%;
    padding: 0 15px;
}
.about-text h3{
    font-size: 30px;
    text-transform: capitalize;
    margin: 0 0 15px;
}
.about-text h3{
    margin: 0 0 15px;
}
.about-img img{
  width: 80%;
  border-radius: 10px;
}*/
/*************Responsivity home Team cart and about us ***************/
@media screen and (max-width: 700px) {
  .card-home {
    min-width: 350px;
  }
  .home-table .circle {
    display: none;
  }
}

/*-----------------CART OVERLAY----------------------*/
.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(240, 157, 81, 0.5);
  z-index: 2;
  visibility: hidden;
}

.cart {
  position: fixed;
  /*top: 0;*/
  right: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 3;
  background: #e7e2dd;
  padding: 1.5rem;
  -webkit-transition: orange;
  transition: orange;
  color: black;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.showCart {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.transparentBcg {
  visibility: visible;
}

@media screen and (min-width: 768px) {
  .cart {
    width: 30vw;
    min-width: 450px;
  }
}

.close-cart {
  font-size: 1.7rem;
  cursor: pointer;
}

.cart h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: var(--dark-light);
  margin-bottom: 2rem;
}

/*---------- Cart Item -------------------- */
.cart-item {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: auto 1fr auto;
      grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}

.cart-item img {
  width: 75px;
  height: 75px;
}

.cart-item h4 {
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: var(--dark-light);
}

.cart-item h5 {
  margin: 0.5rem 0;
  letter-spacing: var(--dark-light);
}

.item-amount {
  text-align: center;
}

.remove-item {
  color: grey;
  cursor: pointer;
}

.fa-chevron-up,
.fa-chevron-down {
  color: var(--main-color);
  cursor: pointer;
}

.banner-btn {
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: #E2293F;
  font-size: 1rem;
  background: #E2293F;
  color: var(--mainBlack);
  border: 1px solid #E2293F;
  -webkit-transition: var(--mainTransition);
  transition: var(--mainTransition);
  cursor: pointer;
}

.banner-btn:hover {
  background: transparent;
  color: #b45656;
}

/*-----------------END OF CART OVERLAY--------------*/
/*------------------------------
-------------FOOTER-------------
--------------------------------*/
footer {
  text-align: center;
  font-size: small;
  clear: both;
  background-color: #06083b;
  color: white;
  line-height: 1.6;
}

.copyright-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  padding: 25px 15px;
  font-size: 14px;
  border-top: 1px solid white;
  margin: 0 100px 0;
}

.container-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-footer #content-footer1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px;
  color: #ffffffA6;
  text-align: left;
  margin: 0 50px 0;
}

.content-text1 .phone-number, .content-text1 .mail-schedule {
  gap: 30px;
}

.content-text3 span {
  height: 40px;
}

.content-text3 span .footerMail {
  margin-top: 20px;
  height: 100%;
  width: 80%;
}

.content-text3 span .btn-footer {
  margin-top: 20px;
  width: 35%;
  height: 100%;
  background-color: orange;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border: none;
}

#logo-footer {
  width: 50%;
}

.social-links a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 40px;
  width: 40px;
  color: white;
  font-size: 22px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  text-decoration: none;
}

.social-links a:hover {
  color: #863699;
}

/*************Responsivity of upper body**************/
@media screen and (max-width: 500px) {
  #content-footer1 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .copyright-items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

/*--------------------------------
---------------CARD OVERLAY-------
  --------------------------------*/
.container-faceToFace {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border: 1px solid black;
  background-color: gainsboro;
  position: absolute;
  /*width: 100%;*/
  margin: 20px auto;
  /*position center*/
}

.title h2 {
  text-align: center;
}

.sub-title h4 {
  text-align: center;
}

/*.row{
    display: flex;
  }*/
.container-matchInfo {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
  max-width: 50%;
  margin: 20px auto;
}

.info-versus {
  text-align: center;
  padding: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.score-info {
  gap: 20px;
  margin-bottom: 30px;
  width: 100%;
}

.score1 input, .score2 input {
  width: 30px;
  height: 30px;
  background-color: #da9a29;
  color: white;
  border: none;
  text-align: end;
  outline: none;
  font-size: 20px;
}

/*.score1,.score2{
    width: 30px;
    height: 30px;
    color: gray;
    background-color: indigo;
    color: gray;
    background-color: indigo;
  }*/
.score-content {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  gap: 20px;
}

.icon-team1 {
  /*margin-right:20px;*/
  margin-top: 30px;
}

.icon-team2 {
  /*margin-left: 20px;*/
  margin-top: 30px;
}

.meta-info {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-top: 1px solid #da9a29;
}

#passer, #scorer {
  font-size: 10px;
  color: indigo;
}

h5 {
  margin-bottom: 1px;
}

.btn-score {
  width: 60px;
  height: 30px;
  background-color: #da9a29;
  border: none;
  outline: none;
  color: #f3f3f3;
}

.btn-score:hover {
  background-color: darkslateblue;
}

/*----------------------------------
  -------------CALENDRIER-------------
  ------------------------------------*/
.container-calendar {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-calendar .container-about .about-title {
  text-align: center;
}

.styled-table {
  /*border: 1px solid;
    
    max-width: 700px;
    width: 80%;*/
  margin: 2rem auto;
  font-size: 0.9rem;
  font-family: sans-serif;
  border-collapse: collapse;
  min-width: 400px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: center;
}

.styled-table td {
  padding: 12px 15px;
}

.styled-table tr {
  border-bottom: 1px solid #dddddd;
  cursor: pointer;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
  cursor: pointer;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
  cursor: pointer;
}

.styled-table tbody tr.active {
  font-weight: bold;
  color: white;
  background-color: darkslateblue;
}

/****************Responsivity calendar page***************/
/************TEMPORARY CSS**************/
.btn-add {
  cursor: pointer;
}

.group {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 400px;
}
/*# sourceMappingURL=style.css.map */ 