*,::before,::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


img{
    width: 100%;
}

a{
    text-decoration: none;    
}


li{
    list-style-type: none;
}

/* ------------- tableau ---------- */
table{
    border: 1px solid;
    max-width: 700px;
    width: 80%;
    margin: 2rem auto;    
}

th,td{
    border: 1px solid;
    padding: 10px;
}


/*  */