@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/*--------------------
variables
---------------------*/
$white-light:white;
$violet-light:#863699;
:root{
    --main-color:#F3B404;
    --green:#41C485;
    --dark-main:#1D1C1C;
    --dark:#0C1023;
    --dark-light:#191f3a;
    --white:#ffffff;
    --white-light:#c8c8cc;
    --shadow: 0 0 15px rgba(0,0,0,0);
    --cursive-font:'Dancing Script', cursive;
    
}
/*--------------------
Global setting
---------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
::before,
::after{
    box-sizing: border-box;
}
html{
    font-family: 'Poppins', sans-serif;
    body{
        font-family: 'Poppins', sans-serif;
    }
}
img{
    width: 100%;
}
a{
    text-decoration: none;    
}
li{
    list-style-type: none;
}
/*@mixin basicBorder{
    border: 1px solid;
    border-collapse: collapse; 
}*/


table{
    max-width: 700px;
     border-collapse: collapse;    
}
th,td{
    /*@include basicBorder;*/
    padding: 10px;
}


h3{
    color: white;
}

@mixin footerUtilities {
    justify-content: space-between;
    text-align: center;
    padding:25px 15px;
    font-size: 14px;
    border-top:1px solid $white-light ;
    margin: 0 100px 0;
}
@mixin blockUtilities{
    display: flex;
    flex-direction: column;
   justify-content: center;
   width: fit-content;
}
@mixin DisplayFlexBox {
    display: flex;
}

.row{
    @include DisplayFlexBox;
    justify-content: space-between
}
.sec-padding
{
    padding: 40px 0;
}

/*------------------------------
-------------HEADER-------------
--------------------------------*/
nav{ //Niesting
    display: flex;
    height: 80px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
  
    ul{
      @include DisplayFlexBox; //this include @mixin just add a display flex
      list-style:none;

      li{
          margin: 0 5px;
          a{
              padding: 8px 15px;
              transition: all 0.3s ease;
          }
      }
    }
}
 nav{  //Niesting
     .menu-btn
     {
         i{
            font-size: 30px;
            cursor: pointer;
            display: none;
         }
     }
 }
 nav{
    
     a.active:hover{
        border-bottom: 3px solid #E2293F;
     }
     a.active{
        border-radius: 1px; 
     }
 }

 input[type="checkbox"]{
    display: none;
}
/*************Responsivity of Header**************/
@media screen and (max-width:1000px) {
    nav{
        padding: 0 40px 0 50px;
        overflow: hidden;
    }
}
@media screen and (max-width:940px) {
    nav .menu-btn i{
        display: block;
    }
    #click:checked~.menu-btn i:before{
        content:"\f00d";
    }
    nav ul{ //Niesting
        position: fixed;
        top: 80px;
        left: -100%;
        background:#191f3a;
        height: 100%;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;

        li{
            width: 100%;
            margin: 40px 0;
            a{
                width: 100%;
                margin-left: -100%;
                display: block;
                font-size: 20px;
                transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
            }
        }
    }
    #click:checked ~ ul{
        left: 0%;
        z-index: 5000;
    }
    #click:checked ~ ul li a{
        margin-left: 0px;
        color: white;
    }
}

/*************Responsivity of upper body**************/

@media screen and (max-width:500px)
{
  html{
    width: fit-content;
  }
    .main-block-container
    {
        flex-wrap: wrap;
        .block-content{
            flex-direction: column-reverse;
        }
    }
   .block-content{
        .block_1 
        {
            margin:30px;
            width: 100%;
        }.block_2
        {
            margin: 30px;
            width: 100%;
        }
    }
}
   

/*------------------------------
-------------BODY-------------
--------------------------------*/
.main-block-container
{
    display:flex ;
    flex-direction: row;
    justify-content: space-evenly;
    background:linear-gradient(126.59deg, rgb(228, 183, 105) 30.55%, #da9a29 91.14%); ;
    border-radius: 1000px 0 1000px 0;
}
.block_1
{
    @include blockUtilities;
   width: 50%;
}
.block_2
{
    @include blockUtilities;
   width: 60%;
}
.block_3
{
    @include blockUtilities;

}
#Avatar-img{
    width: 250px;
}

.card-home {
    transform-style: preserve-3d;
   /*margin: 2rem auto;
    font-size: 0.9rem;
    font-family: sans-serif;
    border-radius: 30px;
    min-width: 200px;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    padding: 0rem 5rem;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);*/
  }
  @keyframes spin_01{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    } 
}

  .home-table{
    position: relative;
}
.home-table .circle{
    position: absolute;
    z-index: 1;
    height: 400px;
    width: 400px;
    border: 1px solid rgba(25,31,58,0.2);
    border-radius:50%;
    top: 50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.home-table .circle::before{
    content:'';
    position: absolute;
    height: 60px;
    width: 60px;
    background-color: rgba(25,31,58,0.2);
    border-radius: 50%;
    left:30px;
    top: 30px;
    transform-origin:170px 170px;
    animation: spin_01 10s linear infinite;
}

 
  .styled-table{ 
    td{
        padding: 7px 10px;
     }
      tr{
            border-bottom: 1px solid #dddddd;
            cursor: pointer;
        }
  }
  
  .styled-table tbody tr:nth-of-type(even){
    /*background-color: #f3f3f3;*/
    cursor: pointer;
  }
  .styled-table tbody tr:last-of-type{
   /* border-bottom: 2px solid #009879;*/
    cursor: pointer;
  } 


/*------------------
        about us
-------------------*/

 
.section-title{
  // width: 100%;
  padding:0 15px;
  text-align: center;
  margin: 30px;
  color: var(--white-light);
  background-color: var(--dark);
}
.section-title h2{
  font-size: 30px;
  text-transform: capitalize;
}
.section-title h2::before{
  content: attr(data-title);
  display: block;
  font-size: 20px;
  color:var(--main-color);
  font-family:var(--cursive-font);
  font-weight: 400;
}
/*.about-section
{
  background-color: var(--dark);
}
.about-text,
.about-img{
    width: 50%;
    padding: 0 15px;
}
.about-text h3{
    font-size: 30px;
    text-transform: capitalize;
    margin: 0 0 15px;
}
.about-text h3{
    margin: 0 0 15px;
}
.about-img img{
  width: 80%;
  border-radius: 10px;
}*/
/*************Responsivity home Team cart and about us ***************/
  @media screen and(max-width:700px) {
      .card-home{
        min-width:350px; 
      }
      .home-table .circle{
        display: none;
      }
  }
 
/*-----------------CART OVERLAY----------------------*/
.cart-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(240, 157, 81, 0.5);
    z-index: 2;
    visibility: hidden;
  }
  .cart {
    position: fixed;
    /*top: 0;*/
    right: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    z-index: 3;
    background: rgb(231, 226, 221);
    padding: 1.5rem;
    transition: orange;
    color: black;
   transform: translateX(100%);
  }
  .showCart {
    transform: translateX(0);
  }
  .transparentBcg {
    visibility: visible;
  }
  @media screen and (min-width: 768px) {
    .cart {
      width: 30vw;
      min-width: 450px;
    }
  }
  .close-cart {
    font-size: 1.7rem;
    cursor: pointer;
  }
  .cart h2 {
    text-transform: capitalize;
    text-align: center;
    letter-spacing: var(--dark-light);
    margin-bottom: 2rem;
  }
    /*---------- Cart Item -------------------- */
.cart-item {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 1.5rem;
    margin: 1.5rem 0;
  }
  .cart-item img {
    width: 75px;
    height: 75px;
  }
  .cart-item h4 {
    font-size: 0.85rem;
    text-transform: capitalize;
    letter-spacing: var(--dark-light);
  }
  .cart-item h5 {
    margin: 0.5rem 0;
    letter-spacing: var(--dark-light);
  }
  .item-amount {
    text-align: center;
  }
  .remove-item {
    color: grey;
    cursor: pointer;
  }
  .fa-chevron-up,
  .fa-chevron-down {
    color: var(--main-color);
    cursor: pointer;
  }

  .banner-btn {
    padding: 1rem 3rem;
    text-transform: uppercase;
    letter-spacing: #E2293F;
    font-size: 1rem;
    background: #E2293F;
    color: var(--mainBlack);
    border: 1px solid #E2293F;
    transition: var(--mainTransition);
    cursor: pointer;
  }
  .banner-btn:hover {
    background: transparent;
    color:  rgb(180, 86, 86);
  }
/*-----------------END OF CART OVERLAY--------------*/

/*------------------------------
-------------FOOTER-------------
--------------------------------*/

footer{
    text-align: center;
    font-size: small;
    clear: both;
    background-color:rgb(6, 8, 59) ;
    color: white;
    line-height: 1.6;
}
.copyright-items{
    @include DisplayFlexBox();
    @include footerUtilities()
}
.container-footer{
    display: flex;
    flex-direction: column;

        #content-footer1{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 50px;
            color: #ffffffA6;
            text-align: left;
            margin: 0 50px 0;  
        }
        .container-content-text{
          display: flex;
          justify-content: space-around;
        }
 }

 .content-text1{
     .phone-number{
        gap: 30px;
     }
     .mail-schedule{
         @extend .phone-number;
     }
 }
        .content-text2{
          margin-left: 250px;
          
        }
        .content-text3{
                span{
                    height: 40px;
                    .footerMail{
                        margin-top: 20px;
                        height: 100%;
                        width: 80%;
                    }
                    .btn-footer{
                        margin-top: 20px;
                        width: 35%;
                        height: 100%;
                        background-color: orange;
                        color: $white-light;
                        font-size: 12px;
                        font-weight: bold;
                        border: none;
                    }
                       
                }
            }

            #logo-footer{
                width: 50%;
            }
        
        .social-links a{
            display: inline-flex; 
            height: 40px;
            width: 40px;
            color: $white-light;
            font-size: 22px;
            align-items: center;
            justify-content: center;
            transition: color 0.3s ease;
            text-decoration: none;
        }
        .social-links a:hover{
                color: $violet-light;
            }
/*************Responsivity of upper body**************/

@media screen and(max-width:500px) { 
    #content-footer1{
        flex-wrap: wrap;
    }
    .copyright-items{
        flex-wrap: wrap;
    }
}   

/*--------------------------------
---------------CARD OVERLAY-------
  --------------------------------*/
  .container-faceToFace{
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    border:1px solid black;
    background-color: gainsboro;
    position: absolute;
    /*width: 100%;*/
    margin: 20px auto; 
    /*position center*/
  }
  .title h2{
    text-align: center;
  }
  .sub-title h4{
    text-align: center;
  }
  /*.row{
    display: flex;
  }*/
  .container-matchInfo{
    justify-content: center;
    width: auto;
    max-width:50%;
    margin: 20px auto;
  }
  .info-versus{
    text-align: center;
    padding: 20px;
    justify-content: space-between;
  }
  .score-info{
    gap: 20px;
    margin-bottom: 30px;
    width: 100%;
   
  }
  .score1 select,.score2 select{
    width: 30px;
    height: 30px;
    background-color:#da9a29 ;
    color:white;
    border: none;
    text-align: end;
    outline: none;
    font-size: 20px;
  }
  
 
  .score-content{
    justify-content: space-between;
    width:100%;
    gap: 20px;
}
  .icon-team1{
    /*margin-right:20px;*/
    margin-top: 30px;
  }
  .icon-team2{
    /*margin-left: 20px;*/
    margin-top: 30px;
  }
  .meta-info{
    justify-content: space-around;
    border-top: 1px solid #da9a29;
  }
  #passer,#scorer{
    font-size: 10px;
    color:indigo ;
  }
  h5{
    margin-bottom: 1px;
  }
  .btn-score{
    width: 60px;
    height: 30px;
    background-color: #da9a29;
    border: none;
    outline: none;
    color: #f3f3f3;
  }
  .btn-score:hover{
    background-color: darkslateblue;
  }

  /*----------------------------------
  -------------CALENDRIER-------------
  ------------------------------------*/
.container-calendar{
  justify-content: center;
  .container-about{
    .about-title{
      text-align: center;
    }
  }
}
  .team-list{
    text-align: center;
    padding: 50px;
  }
  .btn-tirage{
    padding-top: 25px;
  }

  .styled-table {
    display:table;
    margin: 2rem auto;
    font-size: 0.9rem;
    font-family: sans-serif;
    border-collapse: collapse;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    
  }
  
 

  .styled-table thead tr{
    background-color: #009879;
    color: #ffffff;
    text-align: center;
    border-radius: 20px;
  }
  .styled-table thead {
    border-radius: 20px;
  }

  .styled-table td{
    display: table-cell;
    padding: 12px 15px;
  }
  .styled-table tr{
    border-bottom: 1px solid #dddddd;
    cursor: pointer;
  }

  .styled-table tbody tr:nth-of-type(even),
  .styled-table .tbody .tr:nth-of-type(even){
    background-color: #f3f3f3;
    cursor: pointer;
  }

  .styled-table tbody tr:last-of-type,
  .styled-table .tbody .tr:last-of-type{
    border-bottom: 2px solid #009879;
    border-radius: 20px;
    cursor: pointer;
  }
  .styled-table tbody tr.active,
  .styled-table .tbody .tr.active{
    font-weight: bold;
    color: white;
    background-color: darkslateblue;
  }


  /****************Responsivity calendar page***************/
  
  /************TEMPORARY CSS**************/
  .btn-add{
    cursor: pointer;
  }
  .group{
    flex-direction: column;
    min-width: 400px;
  }
/*********************WAVE EFFECT**********************/
  .team-list{
    position: relative;
    width:100%;
    height: 85vh;
    background: var(--dark);
    overflow: hidden;
}
.team-list .wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url('../Images/wave.png');
    background-size:1000px 100px;
}
@keyframes animate{

    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x:1000px ;
    }
}
@keyframes animate2{

    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: -1000px ;
    }
}
.team-list .wave.wave1{
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}

.team-list .wave.wave2{
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}

.team-list .wave.wave3{
    animation: animate 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15;
}

.team-list .wave.wave4{
    animation: animate2 5s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
}
.team-group ,.group{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}


@media screen and (max-width: 868px) {
  .team-group ,.group {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 1000px) {
  .team-list {
    height: 100vh;
  }
}
/***********************WAVE EFFET END************/



/*------------------------
    Statistic section start
    -------------------------*/

    .locations-section{
      background-color:var(--dark);
      place-items: center center;
  }
  .card-items{
      display:grid; 
      
  }
  .cards{
      display: grid;
      grid-template-columns: repeat(auto-fit,minmax(300px ,1fr));
      padding: 20px;
      grid-gap:40px;
  }
  .card{
      background-color: #191f3a;
      border-radius: 20px;
      box-shadow: var(--shadow);
  }
  .container-cards img{
    width: 100%; 
    border-radius: 20px 20px 0 0; 
  }
  .container-img{
      position: relative;
      clip-path:polygon(0 0,100% 0, 100% 85%,0 100%);
  }
  .container-img:after{
    content:"";
    height: 100%; 
    width: 100%;
    position: absolute;
    top: 0;
    left: 0; 
    .container{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
     
    }
    
    .container{
      background: #fff;
      width: 110px;
      padding: 30px;
      box-shadow: 0 0 8px rgba(0,0,0,0.1);
    }
    /*//////////Gestion du conteneur des card/////////////*/
    
   
  }
  .card1>.container-img:after{
      background-image: linear-gradient(135deg,#0100ec,#fb36f4);
  }
  .card2>.container-img:after{
      background-image: linear-gradient(135deg,#2bdce3,#42ffdb);
  }
  .card3>.container-img:after{
      background-image: linear-gradient(135deg,#ffab1d,#f8501c);
  }
  .card4>.container-img:after{
      background-image: linear-gradient(135deg,#41C485,#F3B404);
  }
  .card5>.container-img:after{
      background-image: linear-gradient(135deg,#094125,#f8501c);
  }
  .card6>.container-img:after{
      background-image: linear-gradient(135deg,#375dc7,#f8501c);
  }
  .card7>.container-img:after{
      background-image: linear-gradient(135deg,#63b5f8,#e4edee);
  }
  .card8>.container-img:after{
      background-image: linear-gradient(135deg,#f30404,#fdbd0e);
  }
  .details{
      padding: 10px 20px;
  }

  
/***********stat card***********/
  .popup .container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 1;
    border-radius: 15px;
    box-shadow: rgba(0,0,0,0.15);
    .close-btn{
      position: absolute;
      right: 20px;
      top: 20px;
      width: 30px;
      text-align: center;
      color: $white-light;
      font-size: 20px;
      cursor: pointer;
      height: 28px;
      border-radius: 50%;
      background: #292929;
      padding: 2px 5px 7px 5px;
    }
  }
 
  .container{
    // display: none;
    background: #fff;
    width: 410px;
    padding: 30px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    .close-btn:hover{
      color: #3498db;
    }
  }
.show-btn{
  background: #E2293F;
  width: 30%;
  height: 30px;
    margin: 6px;
    color:var(--white-light);
  border-radius: 15px;
  font-size: 20px;
  cursor: pointer;
  font-weight: 50;
  outline: none;
  border: none;
}
.first-button:active{
  background: linear-gradient(145deg, #222222 ,#292929);
}
.popup.active .container{
  transition: all 300ms ease-in-out;
  transform:translate(-50%, -50%) scale(1);
}
.player-content{
  
  width: 60%;
  .img-player{
    width: 60%;
  }
  .player-name{
    font-size: 18px;
    padding-top: 2px;
  }
}
.player-stat{
  margin-right: 20px;
  .bio-player{
    width: 50%;
    margin-right: 10px;
    p{
     margin-bottom: 20px;
     font-family: sans-serif;
     font-size: 15px;
    }
    
  }
}
.formation-team{
  margin: 20px;
}

/*------------------------
  statistic section end
  -------------------------*/

#span{
  margin-bottom: 20px !important;
}
// #score{
//   display: none;
// }