*,::before,::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


img{
    width: 100%;
}

a{
    text-decoration: none;    
}


li{
    list-style-type: none;
}

/* ------------- tableau ---------- */
table{
    border-collapse: collapse;
    max-width: 800px;
    width: 80%;
    margin: 1.5rem auto;    
}

th,td{
    font-size: 20px;
    border: 1px solid;
    padding: 10px;
}

