@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
html,body{
    background: rgb(13,16,67);;
    font-family: 'Poppins', sans-serif;
}
::selection{
    color: #fff;
    background: #6665ee;
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.container ,form{
    background: #fff;
    padding: 30px 35px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(253, 250, 250, 0.19);
}
.container .form form .form-control{
    height: 40px;
    font-size: 15px;
}
.container .form form .forget-pass{
    margin: -15px 0 15px 0;
}
.container .form form .forget-pass a{
   font-size: 15px;
}
.container  .button{
    background: #6665ee;
    color: #fff;
    font-size: 19px;
    font-weight: 500;
    transition: all 0.3s ease;
    border-radius: 5px;
    text-decoration: none;
    border: none;
    padding: 15px 32px;
}
.container .button:hover{
    background: #5757d1;
}
.text-center{
    text-align: center;
}
input[type=text] {
    width: 200px;
    margin: 8px;
    padding: 12px 20px;
    border: 2px solid rgba(104, 190, 248, 0.959);
    border-radius: 4px;
}
input[type=password] {
    width: 200px;
    margin: 8px;
    padding: 12px 20px;
    border: 2px solid rgba(104, 190, 248, 0.959);
    border-radius: 4px;
}
input[type=email] {
    width: 200px;
    margin: 8px;
    padding: 12px 20px;
    border: 2px solid rgba(104, 190, 248, 0.959);
    border-radius: 4px;
}
label{
    display: block;
}


